@font-face {
  font-family: "Anderson Grotesk Black";
  src: url("/fonts/AndersonGrotesk-Black.otf");
}
@font-face {
  font-family: "Anderson Grotesk Bold";
  src: url("/fonts/AndersonGrotesk-Bold.otf");
}
@font-face {
  font-family: "Anderson Grotesk Bold Oblique";
  src: url("/fonts/AndersonGrotesk-BoldOblique.otf");
}
@font-face {
  font-family: "Anderson Grotesk Ultrabold";
  src: url("/fonts/AndersonGrotesk-Ultrabold.otf");
}
@font-face {
  font-family: "Anderson Grotesk Ultrabold Oblique";
  src: url("/fonts/AndersonGrotesk-UltraboldOblique.otf");
}
@font-face {
  font-family: "Anderson Grotesk Light";
  src: url("/fonts/AndersonGrotesk-Light.otf");
}
@font-face {
  font-family: "Anderson Grotesk Light Oblique";
  src: url("/fonts/AndersonGrotesk-LightOblique.otf");
}
@font-face {
  font-family: "Anderson Grotesk";
  src: url("/fonts/AndersonGrotesk.otf");
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

:root {
  font-family: "Anderson Grotesk", sans-serif;
  letter-spacing: 0.2em;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.fullscreen__container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home__hero {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span.stretch {
  display: inline-block;
  margin: 0 0.35em 0 0.37em;
  -webkit-transform: scale(2, 1);
  -moz-transform: scale(2, 1);
  -o-transform: scale(2, 1);
  transform: scale(2, 1);
}

h1 {
  font-family: "Anderson Grotesk Black", sans-serif;
  font-size: 8em;
  text-align: right;
  color: white;
  line-height: 80%;
}

h2 {
  font-family: "Anderson Grotesk Ultrabold", sans-serif;
  color: white;
  font-size: 5em;
}

p {
  font-family: "Anderson Grotesk Light", sans-serif;
  letter-spacing: normal;
  font-weight: normal;
  color: white;
}
