.circleSVG {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.circleTextPath {
  fill: white;
}

.marqueeText {
  transform-origin: center;
  animation: rotation 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hoverTitle {
  color: black;
  display: none;
  position: absolute;
  left: 0;
  bottom: 20%;
  font-size: 1em;
  transform-origin: center;
  width: 100%;
  text-align: center;
}

.skillContainer:hover .hoverTitle {
  display: block;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
