.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
  width: 100%;
}

.projectsSectionContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 8em 0;
}

@media only screen and (max-device-width: 1440px) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}
