@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garamond Regular";
  src: url("Garamond\ Premier\ Pro\ Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Garamond Display";
  src: url("Garamond\ Premier\ Pro\ Display.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

:root {
  scroll-behavior: smooth;
  font-family: "Garamond Regular", sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Garamond Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 250% !important;
}

h2 {
  font-family: "Garamond Display", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 180% !important;
}

h3,
nav a {
  font-family: "Garamond Display", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 130% !important;
}

nav > div > h2:first-child {
  margin-bottom: 0;
  border-left: solid black 2px;
}

nav > div > h2 {
  font-weight: 500;
}

body {
  background-color: #fff8f0;
}

.active {
  font-style: italic;
  font-weight: 600;
  /* margin-bottom: 0; */
}

#sidebar-title {
  font-size: 400% !important;
  color: transparent;
  font-weight: 100;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 20px; */
  border: 9px solid transparent;
  background-clip: content-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
