.aboutContainer {
  width: 70%;
  display: flex;
  justify-content: center;
}

.aboutContainer h1 {
  font-size: 4em;
  text-align: left;
}

.imageContainer {
  width: 100%;
  /* border: 3px solid white; */
  margin-right: 2em;
  position: relative;
}

.imageContainer img {
  object-fit: contain;
  max-width: 100%;
  height: 100%;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textContainer p {
  font-size: 2em;
  font-weight: 400;
}

.scrollArrow {
  fill: white;
  position: absolute;
  right: 50%;
  top: -10%;
  font-size: 2em;
}

.circleSVG {
  position: absolute;
  top: -5%;
  right: 24%;
  z-index: -1;
  animation: rotation 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circleTextPath {
  fill: white;
  font-size: 0.788em;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
